@font-face {
  font-family: "amber-regular";
  src: url("fonts/pDxWAF1pBB0dzGB.woff2");
}

@font-face {
  font-family: "amber-italic";
  src: url("fonts/WOnTLzkiaEccV7F.woff2");
}
@font-face {
  font-family: "amber-bold";
  src: url("fonts/KFPk-9IF4FqAqY-.woff2");
}

* {
  margin: 0;
  padding: 0;
}
.class {
  float: left;
  text-indent: -500px;
  background-position: -10px -51px;
  width: 97px;
  height: 30px;
  background-image: url("icons/mainImg.png");
}

.class img {
  width: 97px;
  height: 30px;
  object-fit: cover;
}
.cover {
  padding: 2px 0;
}
.gridcover span {
  padding: 5px 0;
  margin-bottom: 8px;
  line-height: 28px;
  font-weight: 700;
  font-family: "amber-bold";
  font-size: 14px;
}
.gridcover {
  padding: 7px 0;
}
.classes {
  display: flex;
  align-items: center;
  padding: 1px 8px 0 6px;
  margin-left: 10px;
}
.classes span {
  color: #fff;
  margin-bottom: 2px;
}
.secOn {
  margin-bottom: 4px;
  display: flex;
  column-gap: 5px;
  font-size: 14px;
  font-family: "amber-regular";
}
.carting {
  background-image: url("icons/mainImg.png");
  background-repeat: repeat-x;
  background-position: -10px -340px;
  width: 38px;
  height: 26px;
  display: flex;
  background-color: black;
  background-position: 0 1000px;
  position: static;
}
.colourfull span {
  font-family: "amber-bold";
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
}
.headeram {
  display: flex;
  width: 100%;
  background-image: url("icons/mainImg.png");
  background-repeat: repeat-x;
  background-position: -10px -340px;
  align-items: center;
  background-color: black;
  background-position: 0 1000px;
  height: 60px;
}
.india img {
  width: 21.6px;
  height: 16.2px;
}
.rightarm {
  display: flex;
  color: #fff;
  column-gap: 34px;
  align-items: last baseline;
  padding-right: 12px;
}
.last {
  font-size: 14px;
  font-weight: 700;
}
.form {
  display: flex;
}
.form select {
  width: 52px;
  height: 40px;
  border: none;
  padding: 0;
  border-right: 1px solid #cdcdcd;
}
.search {
  display: flex;
  align-items: center;
  background-color: #febd69;
  background-image: url("icons/mainImg.png");
  width: 51.78px;
  max-width: 100%;
  background-position: 2px -280px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.form input {
  border: none;
  width: 100%;
  padding: 0 10px 0 10px;
  background-color: #fff;
  margin: 0;
  border: 0;
  height: 40px;
  font-family: inherit;
  background: 0 0;
}
header {
  background-color: #131921;
  align-items: center;
  display: flex;
  width: 100%;
}
.inputwhite {
  background-color: #fff;
  width: 53.5%;
  height: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.class {
  display: flex;
  align-items: center;
  color: #fff;
}
.loff {
  font-size: 12px;
  display: block;
  color: #fff;
}
.cart {
  display: flex;
  position: relative;
}
.zero {
  position: absolute;
  width: 19px;
  height: 16px;
  top: -4px;
  right: 27px;
  color: #f08804;
  font-size: 16px;
  font-weight: 700;
}
.loc {
  padding: 0 20px;
}
.india {
  display: flex;
  background-image: url("https://m.media-amazon.com/images/S/sash/Z8YwjOjqIHxqujG.png");
  background-repeat: repeat-x;
  background-position: 0 -166px;
  width: 24px;
  height: 18px;
  transform: scale(0.9);
  margin: 0 2px 1px 25px;
}

nav {
  background-color: #262f40;
}
.full-nav {
  height: 39px;
  height: 100%;
}
.menu-list img {
  width: 17px;
  height: 25px;
}
.face {
  padding-left: 26px;
}
.face span {
  font-size: 14px;
  font-family: "amber-bold";
}
.img-carter {
  display: flex;
  background-position: -10px -340px;
  width: 38px;
  height: 26px;
  background-image: url(https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-reorg-privacy._CB600086755_.png);
  background-repeat: repeat-x;
}
.cart {
  align-items: baseline;
}
.cart span {
  padding-left: 40px;
  padding-top: 10px;
}
.meny {
  background-image: url(https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-reorg-privacy._CB600086755_.png);
  background-repeat: repeat-x;
  width: 17px;
  height: 14px;
  background-position: -172px -255px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu {
  display: flex;
  color: #fff;
  align-items: center;
  padding-left: 20px;
  text-align: center;
}
.meny {
  padding-left: 22px;
}
.full-nav {
  display: flex;
  justify-content: space-between;
}
.rightcont img {
  max-width: 400px;
  width: 100%;
  height: 39px;
}
.menuarray {
  list-style: none;
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  padding-left: 20px;
}
.menuarray li {
  display: flex;
  flex-wrap: nowrap;
  max-width: 100%;
  font-size: 14px;
  font-family: "amber-regular";
}
.firstapple {
  height: 100%;
}
.wrapper {
  max-height: 600px;
}
.spoon {
  background-image: url(https://m.media-amazon.com/images/S/sash/McBZv0ZvnbehkIx.png);
  background-size: 400px 900px;
  background-repeat: no-repeat;
  position: absolute;
  right: 2px;
  top: 5px;
  width: 10px;
  height: 7px;
  background-position: -7px -102px;
}
.arrowing {
  position: relative;
  width: 98px;
  padding: 2px 6px;
  align-items: center;
  border-radius: 7px;
  background: #f0f2f2;
  font-size: 12px;
}
.whitenav {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  height: 36px;
  align-items: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 10px #ddd;
  background-color: #fff;
  position: relative;
}

.arrowdrop {
  display: none;
  position: absolute;
  width: 169px;
  height: 164px;
  z-index: 999;
  padding: 8px 0;
  border: 1px solid #bbbfbf;
  border-color: #bbbfbf;

  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(15, 17, 17, 0.15);
  background-color: #fff;
}
.arrowdrop li {
  list-style: none;
  color: #0f1111;
  text-decoration: none;
  padding: 4px 12px 3px 13px;
  display: block;
  white-space: nowrap;
  outline: 0;
  border: 1px solid transparent;
  margin-left: 1px;
}
.rightwhite {
  position: relative;
  display: flex;
  width: 300px;
  justify-content: flex-end;
  cursor: pointer;
}
.arrowdrop li :first-child.active {
  border-color: #007185;
  background-color: #edfdff;
  box-shadow: 3px 0 0 0 #007185 inset;
}
.range {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.rolex {
  position: relative;
  width: 186px;
  height: 50px;
}

.middleline {
  background-color: #007185;
  height: 4px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.roundL,
.roundR {
  width: 28px;
  height: 28px;
  background-color: #007185;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.roundL {
  left: 0;
}

.roundR {
  right: 0;
}

.whiteround {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.go {
  display: flex;
  background: #fff;
  border-radius: 30px;
  border: 1px solid #888c8c;
  cursor: pointer;
  /* line-height: 16px; */
  margin-left: 10px;
  height: 30px;
  width: 40.81px;
  align-items: center;
  justify-content: center;
}
.sidebar {
  display: flex;
  flex-direction: column;
  max-width: 252px;
  padding-left: 10px;
  padding-top: 7px;
}
.dealer {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  font-size: 14px;
  font-family: "amber-regular";
}
.dealer > * {
  padding: 3px 0;
}
.dealer span:first-child {
  font-size: 14px;
  font-weight: 700;
  font-family: "amber-bold";
  line-height: 20px;
}
.install {
  padding-bottom: 14px;
  font-size: 14px;
}
.install div {
  font-weight: 700;
}
.pricead {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  row-gap: 8px;
  font-family: "amber-bold";
  font-size: 14px;
}
.install li {
  margin-bottom: 4px;
}
.install li span {
  margin-left: 4px;
}
.install ul {
  padding: 5px 0;
  font-size: 14px;
  font-family: "amber-regular";
}
.star {
  display: block;
  font-size: 14px;
}
.star span {
  font-weight: 500;
  font-family: "amber-bold";
}
.starmain {
  display: flex;
  align-items: center;
}
.starallow span {
  font-weight: 300;
  font-family: inherit;
}
.starallow {
  display: flex;
  width: 95px;
  height: 22px;
  background-image: url(https://m.media-amazon.com/images/S/sash/2KViI4b7ZZCNtr3.png);
  background-size: 512px 512px;
  background-repeat: no-repeat;
  background-position: -293px -488px;
}
.gr {
  height: 21px;
  width: 24px;
  background-image: url(https://m.media-amazon.com/images/G/31/nav2/images/gui/standardcolorsprite._CB484712618_.png);
  background-position: -500px 0px;
}
.or {
  background-image: url(https://m.media-amazon.com/images/G/31/nav2/images/gui/standardcolorsprite._CB484712618_.png);
  background-position: 0px -100px;
  width: 24px;
}
.view {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.view div {
  display: flex;
  flex-flow: nowrap;
}
.fr {
  background-image: url(https://m.media-amazon.com/images/G/31/nav2/images/gui/standardcolorsprite._CB484712618_.png);
  background-position: -100px 0px;
  width: 24px;
}
.tt {
  background-image: url(https://m.media-amazon.com/images/G/31/nav2/images/gui/standardcolorsprite._CB484712618_.png);
  background-position: -200px 0px;
  width: 24px;
}
.fm {
  background-image: url(https://m.media-amazon.com/images/G/31/nav2/images/gui/standardcolorsprite._CB484712618_.png);
  background-position: -700px 0px;
  width: 24px;
}
.lur {
  background-image: url(https://m.media-amazon.com/images/G/31/nav2/images/gui/standardcolorsprite._CB484712618_.png);
  background-position: -1000px 0px;
  width: 24px;
}
.ple {
  background-image: url(https://m.media-amazon.com/images/G/31/nav2/images/gui/standardcolorsprite._CB484712618_.png);
  background-position: -1100px 0px;
  width: 24px;
}
.offline {
  background-image: url(https://m.media-amazon.com/images/G/31/nav2/images/gui/standardcolorsprite._CB484712618_.png);
  background-position: -1200px 0px;
  width: 24px;
}
.rose {
  background-image: url(https://m.media-amazon.com/images/G/31/nav2/images/gui/standardcolorsprite._CB484712618_.png);
  background-position: -1500px 0px;
  width: 24px;
}
.whiteer {
  background-image: url(https://m.media-amazon.com/images/G/31/nav2/images/gui/standardcolorsprite._CB484712618_.png);
  background-position: -800px 0px;
  width: 24px;
}
input {
  height: 16px;
  width: 16px;
}
.main-content {
  display: flex;
}
.remaining {
  padding: 20px 0;
}
.remained span {
  font-size: 14px;
  font-family: "amber-bold";
  line-height: 40px;
}
.era {
  padding: 3px 0;
  font-size: 14px;
  font-family: "amber-regular";
}
.right-contenttop {
  display: flex;
  background-color: #fff;
  padding: 5px 0;
  max-height: 60px;
  align-items: center;
  flex-direction: row;
  column-gap: 40px;
}
.era label {
  margin-left: 4px;
}
.right-contenttop span {
  display: block;
}
.apple-box {
  display: flex;
  background-color: #ebebec;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  max-width: 100%;
  flex: auto;
}
.second {
  padding: 7px 0;
}
.secIN {
  padding: 3px 0;
}
.secdrop {
  padding: 3px 0;
}
.secIN label {
  margin-left: 4px;
}
.before {
  font-size: 14px;
  font-weight: 600;
  font-family: "amber-bold";
}
.seconds {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-height: 228.33px;
  padding-bottom: 10px;
  width: 100%;
}
.firstapple img {
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.seconds img {
  display: flex;
  margin-top: 20px;
  max-width: 146px;
  max-height: 118px;
}
.spontxt {
  font-family: "amber-bold";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  color: rgb(86, 89, 89);
}
.starter {
  background-image: url(https://m.media-amazon.com/images/S/sash/2KViI4b7ZZCNtr3.png);
  background-size: 512px 512px;
  background-repeat: no-repeat;
  height: 12px;
  width: 60px;
  background-position: -263px -278px;
}

.flexapple {
  display: flex;
}
.prime {
  background-image: url(https://m.media-amazon.com/images/S/sash/ZpbG74laklgnz-i.png);
  background-size: 512px 256px;
  background-repeat: no-repeat;
  height: 12px;
  background-position: -138px -73px;
  width: 42px;
}
.rightSideMain {
  width: 84.3%;
}
.grey {
  background-color: #f7f7f7;
  padding-bottom: 14px;
  display: flex;
  margin: auto;
}
.main-content {
  padding-top: 10px;
}
.pad,
.flexapple,
.prime {
  margin-left: 6px;
  font-size: 14px;
}
.rightborder {
  display: block;
  padding: 20px;
  padding-bottom: 8px;
  padding-top: 15px;
  align-items: center;
  padding-left: 10px;
  border-right: 1px solid #e6e6e6;
}
.spanLeft {
  display: flex;
  flex-direction: column;
}
.resulted {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.sponsor {
  display: flex;
}
.tasker {
  background-color: transparent;
  background-image: url(https://m.media-amazon.com/images/G/01/ad-feedback/info_icon_1Xsprite.png);
  width: 14px;
  height: 12px;
  margin: 2px 0 1px 3px;
}
.mobilebox {
  display: flex;
  flex-direction: column;
}
.mobileview {
  display: flex;
  flex-direction: row;
  column-gap: 35px;
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 0;
  max-height: 342px;
  max-height: 100%;
  margin-bottom: 9px;
}
.mobIMg {
  align-items: center;
  padding: 45px 35px;
  padding-bottom: 40px;
  background-color: #f6f6f6;
  max-width: 100%;
}
.mobIMg img {
  max-width: 171px;
}

.mobin {
  display: flex;
  flex-direction: column;
}
.rightmobside {
  display: block;
}
.sponsec {
  display: flex;
  margin-bottom: 5px;
}
.sponIng {
  background-image: url(https://m.media-amazon.com/images/S/sash/OMJ6YLPcVKydtJQ.png);
  background-size: 11px 22px;
  background-repeat: no-repeat;
  width: 11px;
  height: 11px;
  margin: 5px;
  margin-top: 0;
}
.mostar {
  display: flex;
  padding-bottom: 4px;
  padding-top: 4px;
  font-size: 14px;
}
.starmob {
  background-position: -2px -216px;
  background-image: url(https://m.media-amazon.com/images/S/sash/2KViI4b7ZZCNtr3.png);
  background-size: 512px 512px;
  background-repeat: no-repeat;
  height: 18px;
  width: 80px;
}
.mobarrowdown {
  background-image: url(https://m.media-amazon.com/images/S/sash/2KViI4b7ZZCNtr3.png);
  background-position: -267px -24px;
  height: 16px;
  width: 16px;
}
.reddy {
  background-color: #cc0c39;
  height: 26px;
  max-width: 128.67px;
  margin-bottom: 5px;
  border-radius: 3px;
}
.reddy span {
  color: #fff;
  font-size: 12px;
  line-height: 26px;
  justify-content: center;
  display: flex;
}
.pricemob {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 4px;
  align-items: center;
  column-gap: 4px;
}
.mrp {
  color: rgb(86, 89, 89);
  cursor: pointer;
  display: inline;
  font-family: "amber-regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
}
.ogprice {
  color: rgb(86, 89, 89);
  cursor: pointer;
  display: inline;
  font-family: "amber-regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  text-decoration: line-through;
}
.offer {
  color: rgb(86, 89, 89);
  cursor: pointer;
  display: inline;
  font-family: "amber-regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
}
.freedel {
  padding: 3px 0;
  padding-left: 3px;
  cursor: pointer;
  display: inline;
  font-family: "amber-regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.primagain {
  background-image: url(https://m.media-amazon.com/images/S/sash/ZpbG74laklgnz-i.png);
  width: 53px;
  height: 15px;
  background-position: -179px -145px;
  margin-top: 11px;
}
.yellowcol {
  display: flex;
  width: 89px;
  height: 29px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #ffd814;
  margin: 5px 0;
  cursor: pointer;
}
.yellowcol span {
  font-size: 13px;
}
.kbought {
  padding-bottom: 4px;
  font-size: 12px;
  font-family: "amber-regular";
  color: rgb(86, 89, 89);
  font-weight: 400;
  font-style: normal;
}
.priced {
  font-size: 22px;
  font-family: "amber-regular";
}
.Inrating {
  font-size: 14px;
  font-weight: 600;
  font-family: "amber-bold";
  padding-bottom: 7px;
}
.rating {
  padding-bottom: 10px;
}
.checkDiv {
  padding: 3px 0;
}
.checkDiv label {
  padding-left: 4px;
}
.lastcolor {
  font-weight: 300;
  font-size: 12px !important;
  line-height: 16px !important;
  color: #111 !important;
  margin-left: 2px;
  text-decoration: underline;
  font-family: "amber-regular";
}
.mobileText {
  display: block;
  box-sizing: border-box;
  max-width: 80%;
  font-size: 14px;
  font-weight: 400px;
  font-family: "amber-regular";
}
.mainSearchArea {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination {
  justify-content: center;
}
.pagination {
  display: flex;
  padding-left: 13px;
  padding-right: 13px;
  max-width: 516px;
  border: 1px solid #d5d9d9;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.pagination a {
  color: #0f1111;
  font-weight: 700;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 36px;
  text-decoration: none;
}
.pagination a .active {
  border-left: 1px solid #d5d9d9;
}
.bottom {
  height: 70px;
}
.downsearch {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.sign span {
  font-size: 12px;
  font-family: "amber-regular";
}
.sign div {
  font-size: 14px;
  display: flex;
  font-family: "amber-bold";
  line-height: 13px;
}
.order span {
  font-size: 12px;
}
.loop {
  font-size: 14px;
  display: inline-block;
}
.flexapple {
  display: flex;
  align-items: center;
}
.firstapple {
  max-width: 510px;
  width: 100%;
}
.mobileheader {
  display: none;
}
.navmob {
  display: none;
}
.sortafter {
  display: none;
}
.wall {
  display: none;
}
.looserfin {
  display: flex;
  width: 100%;
  column-gap: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.appleMain {
  display: none;
}

@media (max-width: 800px) {
  .headeram {
    display: none;
  }
  .appleMain {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    justify-content: left;
    text-align: left;
    align-items: flex-start;
  }
  .rollD {
    padding: 16px 0;
    padding-bottom: 0;
    display: flex;
    column-gap: 10px;
  }
  .rollD .brown {
    background-color: #555;
    color: #fff;
    line-height: 20px;
    padding: 0px 9px;
    font-size: 12px;
    font-family: "amber-regular";
    align-items: center;
    padding-bottom: 1px;
    position: relative;
  }
  .rollD .trap::after {
    border-right: 12px solid transparent;
    border-top: 1.3rem solid #555;
    box-sizing: border-box;
    content: "";
    position: absolute;
    right: -11px;
    height: 20px;
  }
  .afterbrown {
    font-size: 11px;
    font-family: "amber-regular";
  }
  .rollF {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 14px;
    font-family: "amber-regular";
  }
  .transparent {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100v;
    background-color: rgba(0, 0, 0, 0.8);

    z-index: 9;
  }

  .ex {
    /* display: none; */
    position: fixed;
    width: 20px;
    height: 20px;
    background-image: url(https://m.media-amazon.com/images/G/31/gno/sprites/new-nav-sprite-global-1x_blueheaven-privacy._CB600086755_.png);
    background-position: -132px -173px;
    right: 8vw;
    top: 40px;
    margin: 13px;
    align-items: center;
  }
  .mobileheader {
    display: block;
    width: 100%;
  }
  .flexmobile {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #fff;
    height: 48px;
    align-items: center;
    z-index: 7;
  }
  .amazonagain {
    display: flex;
    padding-left: 14px;
  }
  .mobileL {
    display: flex;
    padding-left: 14px;
  }
  header {
    background-color: #232f3e;
  }
  .menuL {
    background-image: url(https://m.media-amazon.com/images/G/31/gno/sprites/new-nav-sprite-global-2x_blueheaven-privacy._CB600086755_.png);
    background-size: 275px;
    width: 20px;
    height: 20px;
    background-position: -20px -378px;
    z-index: 20;
  }
  .menu {
    display: none;
  }
  .amazonLimg {
    background-position: -10px -50px;
    width: 80px;
    height: 27px;
    background-image: url(https://m.media-amazon.com/images/G/31/gno/sprites/new-nav-sprite-global-2x_blueheaven-privacy._CB600086755_.png);
    background-size: 275px;
  }
  .mobileR {
    display: flex;
    flex-direction: row;
    column-gap: 3px;
    align-items: center;
    padding-right: 14px;
  }
  .person {
    background-image: url(https://m.media-amazon.com/images/G/31/gno/sprites/new-nav-sprite-global-2x_blueheaven-privacy._CB600086755_.png);
    background-size: 275px;
    background-position: -141px -300px;
    width: 35px;
    height: 27px;
  }
  .cartimgtwo {
    background-position: -10px -240px;
    width: 37px;
    height: 27px;
    background-image: url(https://m.media-amazon.com/images/G/31/gno/sprites/new-nav-sprite-global-2x_blueheaven-privacy._CB600086755_.png);
    background-size: 275px;
  }
  .mobilecart {
    position: relative;
  }
  .zeromob {
    position: absolute;
    top: 0;
    right: 12px;
    color: #f08804;
    font-size: 15px;
    font-weight: 700;
  }
  .mobileInput {
    position: relative;
    width: 96%;
    display: flex;
    max-height: 44px;
    height: 100%;
    /* padding: 0 10px; */
    margin-bottom: 4px;
    margin: auto;
    margin-bottom: 4px;
  }
  .inputmob {
    width: 100%;
    height: 44px;
    border: none;
    outline: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .rightmobserch span {
    display: flex;
    background-color: #febd69;
    background-image: url(icons/mainImg.png);
    width: 50px;
    background-position: 2px -280px;
    border-radius: 8px;
    height: 44px;
  }
  .lovetxt {
    font-size: 13px;
    font-family: "amber-regular";
    align-items: center;
    display: flex;
  }
  .signIn {
    font-size: 14px;
    display: flex;
    line-height: 48px;
    font-family: "amber-regular";
  }
  .rightmobserch {
    display: flex;
    position: absolute;
    right: 0;
    border-radius: 8px;
    background: #febd69;
  }
  .rightmobside {
    width: 61%;
  }
  .right-nav {
    display: none;
  }
  .whitenav {
    box-shadow: none;
  }
  .last {
    display: none;
  }
  nav {
    height: 44px;
    display: flex;
    background-color: #37475a;
    color: #fff;
  }
  .navmob {
    display: flex;
  }
  .love {
    display: flex;
    align-items: center;
  }
  .love {
    padding: 12px 10px 12px 10px;
  }
  .loveimg {
    background-position: -75px -340px;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
    background-image: url(https://m.media-amazon.com/images/G/31/gno/sprites/new-nav-sprite-global-2x_blueheaven-privacy._CB600086755_.png);
    background-size: 275px;
  }
  .woof {
    display: none;
  }
  .primequal {
    background-image: url(https://m.media-amazon.com/images/S/sash/ZpbG74laklgnz-i.png);
    background-size: 512px 256px;
    background-repeat: no-repeat;
    height: 12px;
    background-position: -138px -73px;
    width: 42px;
  }
  .nonemob {
    display: flex;
    align-items: center;
  }
  .primadd {
    margin-left: 5px;
    content: url(https://m.media-amazon.com/images/S/sash/J86UBa3MBZb1CXv.svg);
    width: 36px;
    height: 20px;
  }

  .sortbefore {
    display: none;
  }
  .sortafter {
    display: flex;
    max-width: 50px;
    position: relative;
  }
  .out {
    display: flex;
    width: 10px;
    height: 10px;
    margin-top: 3px;
    position: absolute;
    right: 8px;
    align-items: center;
  }
  .out::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 2px;
    top: 50%;
    right: 50%;
    margin-right: -1px;
    margin-top: -1px;
    background-color: #007185;
    transform-origin: 4px 1px;
    transform: rotate(45deg);
  }
  .out::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 2px;
    top: 50%;
    left: 50%;
    margin-left: -1px;
    margin-top: -1px;
    background-color: #007185;
    transform-origin: 1px 1px;
    transform: rotate(-45deg);
  }
  .stay {
    font-size: 14px !important;
    color: #007185 !important;
    font-family: "amber-regular";
  }
  .arrowing {
    max-width: 50px;
  }
  .mainleft {
    display: none;
  }
  .rightSideMain {
    width: 100%;
  }
  .rightborder {
    display: none;
  }
  .rightbox {
    display: none;
  }
  .right-contenttop {
    height: 46px;
    padding: 0;
    border-bottom: 1px solid #bbbfbf;
  }
  .main-content {
    padding-top: 0;
    width: 100%;
  }
  .wall {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    overflow-x: auto;
    scrollbar-width: none;
    padding: 0 10px;
  }
  .wallet {
    padding: 8px 8.5px;
    border: 1px solid;
    font-size: 13px;
    border-radius: 8px;
    border: 1px solid #d5dbdb;
    background-color: #fff;
    font-family: "amber-regular";
  }
  .apple-box {
    flex-direction: column;
    background-color: #fff;
  }
  .seconds {
    border: 1px solid #d5d9d9;
    border-radius: 4px;
    height: 100%;
  }
  .mobImg {
    padding: 46px 53px;
  }
  .mobIMg img {
    max-width: 133px;
  }
  .mobileText {
    max-width: 100%;
  }
  .mobileview {
    align-items: center;
    box-sizing: border-box;
  }
  .mobileText {
    font-size: 14px;
  }
  .mobileText > * {
    padding: 0;
    margin: 0;
  }
  .flatoff {
    display: none;
  }
  .primagain {
    margin-top: 0;
  }
  .lastcolor {
    padding: 0;
  }
  .yellowcol {
    width: 95%;
  }
  .dropfirst {
    background-color: #232f3e;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 0 20px;
  }

  .secondDrop {
    /* height: 66px; */
    background-color: #232f3e;
    display: block;
    align-items: center;
    padding: 0 20px 20px 20px;
  }

  .txtIMg {
    background-position: -170px -268px;
    height: 24px;
    width: 24px;
    background-image: url(https://m.media-amazon.com/images/G/31/gno/sprites/new-nav-sprite-global-1x_blueheaven-privacy._CB600086755_.png);
  }

  .thirdmenu {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: blck;
    border-bottom: 5px solid #d5dbdb;
    align-items: center;
    padding: 18px 20px 13px 20px;
  }
  .leftmenu {
    color: black;
  }
  .rightmenu span {
    background-image: url(https://m.media-amazon.com/images/G/31/gno/sprites/new-nav-sprite-global-2x_blueheaven-privacy._CB600086755_.png);
    background-size: 275px;
    background-position: -142px -271px;
    height: 19px;
    width: 19px;
    display: flex;
  }
  .trending {
    display: block;
    background-color: #fff;
    border-bottom: 5px solid #d5dbdb;
  }
  .trending h3 {
    margin: 0;
    color: #0f1111;
    padding: 0;
    font-size: 19px;
    font-weight: 700;
    padding: 15px 20px 15px 20px;
  }
  .trend-list li {
    padding: 15px 20px 15px 20px;
    font-size: 16px;
    color: #111;
  }

  .dropdownmenu {
    display: block;
    width: 80%;
    position: relative;
    top: 0;
  }
  .twenty {
    font-size: 20px;
  }
  .eight {
    font-size: 28px;
  }
  .inputmob {
    padding-left: 10px;
    border-radius: 8px;
  }
  .seconds img {
    max-width: 90px;
    /* height: 80px; */
    margin-left: 0;
  }
  .pad {
    display: none;
  }
  .downsearch {
    width: 80%;
  }
  .pagination {
    width: 100%;
  }
  .looserfin {
    width: 60%;
    display: flex;
    margin: auto;
    justify-content: center;
  }
}
@media (max-width: 400px) {
  .mobileview {
    column-gap: 0;
  }
  .pagination a {
    padding: 10px;
  }
  .mobIMg img {
    max-width: 108px;
  }
  .mobIMg {
    padding: 20px 28px;
  }
  .pagination {
    display: flex;
    margin: auto;
    justify-content: center;
  }
}
